.demonstration-map{
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .map-trigger{
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}