
.partner-item{
    margin-bottom: 40px;

    .partner_cover, .partner_info{
        background: @secondary-color;
        border-radius: 7px;
    }

    .partner_info{
        position: relative;
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            top: 0;
            left: 0;
            z-index: 2;

        }

        .website{
            position: relative;
            z-index: 3;

        }

        a.read-more{
            position: relative;
            z-index: 3;
            background: transparent;
        }
    }

    .partner_cover {
        display: flex;
        align-items: center;
        justify-content: center;
        .breakpoint-large-down({
            padding: 30px;
            margin: 10px;
            max-width: -webkit-fill-available;
        });

        img{
            width: 200px;
            height: auto;
            max-height: 120px;
            object-fit: contain;
        }
    }

    .instituion-title{
        align-items: center;
        .col-md-9{
            padding: 0;
            font-weight: 600;
            font-size: 22px;
        }
    }

    .partner_info{
        padding: 30px;
    }

    .partner_description{
        height: 95px;
        overflow: hidden;
        font-size: 18px;
        position: relative;
        &.expand{
            height: auto;
            //overflow: visible;
            &:after{
                height: 0px;
            }
        }
        &:after{
            width: 100%;
            height: 150px;
            content: ' ';
            background: transparent linear-gradient(180deg, rgba(245, 248, 248, 0) 0%, #f5f8f8 100%) 0% 0% no-repeat padding-box;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    .dorsal{
        margin-top: 20px;
        display: inline-block;
    }

    .read_more_container{
        a{
            font-size: 18px;
            line-height: 21px;
            font-family: Gilroy;
            font-weight: 500;
            letter-spacing: 0px;
            color: #25BDD2;
            width: fit-content;
            padding-right: 20px;
            cursor: pointer;
        }
    }

}

.supporting_partners{
    display: flex;
    align-items: center;
    justify-content: center;
    .supp_partner_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 50px auto;
        width: fit-content;

        .supp_partner_image{
            width: 271px;
            height: 228px;
            max-width: 100%;
            /* UI Properties */
            background: #FFFFFF;
            box-shadow: 0px 0px 10px #5858581C;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 201px;
                height: 81px;
                object-fit: contain;
            }
        }

        .website{
            margin: 20px auto;
        }
    }
}

.partners{
    .modal-content{
        padding: 46px 56px;
        .coordinator_image{
            background: #F5F8F8;
            border-radius: 10px;
            padding: 20px;
        }

        .partner_title{
            margin-left: 15px;
            text-align: left;
            font-size: 22px;
            line-height: 26px;
            font-family: Gilroy;
            font-weight: 500;
            letter-spacing: 0px;
            color: #010F21;
            text-align: left;
        }




        .partner_detailed_info{
            margin: 21px 0 19px 0;
            padding: 0!important;
            text-align: left;
            border-top: 1px solid #DBDBDB;

            p{
                color: #919191;
                font-size: 16px;
                font-style: normal;
                font-weight: 84;
                line-height: 120%;
                letter-spacing: -0.48px;
            }



            .contact_info{
                display: flex;
                align-items: center;
                margin-top: 19px;
                .col-md-3, .col-md-2{
                    padding: 0!important;
                }
                img{
                    width: 77px;
                    height: 77px;
                    border-radius: 10px;
                }

                h4{
                    margin-left: 15px;
                    text-align: left;
                    font-size: 20px;
                    line-height: 26px;
                    font-family: Gilroy;
                    font-weight: 500;
                    letter-spacing: 0px;
                    color: #010F21;
                }

                .col-md-12{
                    padding: 0;
                }
                .coordinator_info{
                    font-size: 20px;
                    line-height: 24px;
                    font-family: Gilroy;
                    font-weight: 500;
                    color: #010F21;
                }



                .read_more{
                    position: relative;
                    font-size: 18px;
                    line-height: 21px;
                    font-family: Gilroy;
                    font-weight: 500;
                    letter-spacing: 0px;
                    color: #25BDD2;
                    width: fit-content;
                    padding-right: 20px;
                    cursor: pointer;
                    &:after{
                        position: absolute;
                        right: 3px;
                        top: 6px;
                        width: 17px;
                        height: 17px;
                        content: '';
                        transition: all 0.3s ease-in-out;
                        background: url("../../assets/images/arrow-wp.svg") center no-repeat;
                        background-size: 11px;
                        transform: rotate(0deg);
                        transform-origin: center;
                    }

                    &:hover{
                        &:after{
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }

    }
}

