url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
}
?>
==
<h1 class="underline">Media center</h1>
<section aria-labelledby="media-center-heading">
    <div class="container">
        <h1 id="media-center-heading" class="sr-only">Media Center</h1>
        <nav aria-label="Media center categories">
            <div class="row around-md around-xs">
                {% if logos.count() %}
                <div class="col-sm-2 col-xs-12 media_item">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/brand-kit"
                           aria-label="Browse brand kit materials including logos and guidelines">
                            <div class="card_image_container">
                                <div class="card_bg">
                                    <span class="card_icon" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="media_label">Brand kit</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if flyers.count() %}
                <div class="col-sm-2 col-xs-12 media_item">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/promotional-materials"
                           aria-label="View promotional materials and flyers">
                            <div class="card_image_container">
                                <div class="card_bg">
                                    <span class="card_icon" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="media_label">Promotional materials</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if pressreleases.count() %}
                <div class="col-sm-2 col-xs-12 media_item">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/press-releases"
                           aria-label="Read all press releases and announcements">
                            <div class="card_image_container">
                                <div class="card_bg">
                                    <span class="card_icon" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="media_label">Press releases</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if newsletters.count() %}
                <div class="col-sm-2 col-xs-12 media_item">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/newsletters"
                           aria-label="Access archived newsletters and subscribe">
                            <div class="card_image_container">
                                <div class="card_bg">
                                    <span class="card_icon" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="media_label">Newsletters</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if videos.count() %}
                <div class="col-sm-2 col-xs-12 media_item">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/videos"
                           aria-label="Watch project videos and multimedia content">
                            <div class="card_image_container">
                                <div class="card_bg">
                                    <span class="card_icon" aria-hidden="true"></span>
                                </div>
                            </div>
                            <span class="media_label">Videos</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>
</section>
